
body {

  background-image: url("btri.jpg");
}

.header {
  background-color:  #ffffff;
  color: #ffffff;
  left:0;
  right:0;
	width:100%;

}
.buy {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0eb297;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 0px;
}

.topnav a {
	
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.main{
	
	left: 0;
	right: 0;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;	
}
.textbox{
	height:50px;
    font-size:14pt;
	text-align: center;
	width:300px;
}

.contentbox{
  width:98%; 
  left: 0;
  right: 0;
  
  background-color:  #111;
  color: #ffffff;
  padding: 5px;
  font-size:14pt;
  text-align: center;
  
  
  background-image: url("tri.jpg");
  
}
.contentboxNot{
  width:98%; 
  left: 0;
  right: 0;
  
  background-color:  #111;
  color: #ffffff;
  padding: 5px;
  font-size:14pt;
  text-align: center;
  
  
  background-image: url("red.jpg");
  
}
.contentboxDone{
  width:98%; 
  left: 0;
  right: 0;
  
  background-color:  #111;
  color: #ffffff;
  padding: 5px;
  font-size:14pt;
  text-align: center;
  
  
  background-image: url("green.jpg");
  
}